/*
Sam L.
10/18/2024
*/

body {
	font-family: sans-serif;
	background-color: #ffe5dc;
}

/* Style rules for table */
table {
	border: 5px solid #fd4d0c;
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto;
	box-shadow: 10px 10px 5px #792101;
}

caption {
	color: #792101;
	font-size: 2em;
	font-weight: bold;
	margin: 1% 0 2% 0;
}

thead {
	color: #fff;
	border: 1px solid #fff;
	background-color: #792101;
	text-align: center;
}

th {
	border: 1px solid #fff;
}

tbody tr {
	background-color: #fe9772;
}

tbody tr:nth-child(even) {
	background-color: #fff;
}

td {
	border: 1px solid #a22c02;
}

tr, th, td {
	padding: 1.5%;
}

/* footer */
footer {
	text-align: center;
	margin-top: 5%;
}